<h1>Add a Lecturer</h1>
<table>
    <ul>
        <li>Lecturer ID must be 4 characters.</li>
        <li>Name must be at least 5 characters</li>
        <li>Department must be 3 characters</li>
    </ul>
        <form action="/addLecture" method="POST">
            <label>Lecture ID:</label>
            <input type="text" minlength="4" name="_id"><br>
            <label>Name:</label>
            <input type="text" minlength="5" name="name"><br>
            <label>Department:</label>
            <input type="text" minlength="3" maxlength="3" step="any" name="dept"><br>
            <input type="submit" value="Add">
            </form>
            </body>
</table>