<h1>Update Module</h1>
<table>
    <% studentDelete.forEach((student) =>
    { %>
        <h1>"<%= module.mid %>"+"has been okay"</h1>    
        </body>
    
        <a href = http://localhost:3004/>Home</a>
    <% }) %>
</table>